*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Code Pro', monospace;
    --ff-secondary: 'Space Mono', sans-serif;



/*
Amazon colour palette 
https://developer.amazon.com/en-US/alexa/branding/alexa-guidelines/brand-guidelines/color 
*/


    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-amz-accent-1: #FF9900;
    --clr-amz-accent-1-dark: #cd7b00;
    --clr-amz-accent-2: #232F3E;
    --clr-amz-accent-3: #1399FF;

    --fw-reg: 300;
    --fw-bold: 700;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /*boxshadow / second line is for 2nd shadow, they layer on top of each other*/
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
    --tx: 1px 1px 2px black;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


html {
    scroll-behavior: smooth;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold)} 


body {
background-color: var(--clr-amz-accent-2);
font-family: var(--ff-primary);
color: var(--clr-light);
margin: 0;
padding: 0;
font-size: var(--fs-body);
line-height: 1.6;
text-align: center;

}



.logo {
    max-width: 100px;
}

.intro {
    background-color: var(--clr-light);
}

.logo-large {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#logo-text {
    color: #232F3E;
}



.nav__list {
    display: flex;
    justify-content: right;
    
}



.nav__item {
    padding: 0 25px;
}

.nav__item:hover {
    color: var(--clr-amz-accent-1);
}



.person {
    max-width: 350px; 
}

.persons {
    display: flex;
    justify-content: space-around;
}

.about-us__title {
    display: block;
    text-align: center;
}

.about-us__title {
    margin-bottom: 5rem;
}

.person__img {
    margin-bottom: 2rem;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    padding: 4rem;
}

.contact__form {
    width: 100%;
    max-width: 600px;
}

.contact__form h3 {
    text-align: center;
}

.contact__form p {
    text-align: center;
    margin-bottom: 20px;
}

.contact__form-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.input__field {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input__textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.input__textarea,
.input__field {
    font-family: var(--ff-primary);
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--clr-amz-accent-1);
    color: white;
    cursor: pointer;
    text-shadow: var(--tx);
}

.btn:hover {
    background-color: var(--clr-amz-accent-1-dark);
    
}

@media (max-width: 600px) {
    .top-row {
        flex-direction: column;
    }
}


#map {
    height: 400px;
    width: 600px;
    
}












.footer {
    background: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    justify-content: center;
}

.contact-list,
.nav__list {
text-decoration: none;
list-style-type: none;   
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.footer-contact,
.footer-address {
    margin: 0 10rem;
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.footer-contact {
    text-align: start;
}



